body {
    margin: 0;
}
.mark {
    color: #0af;
}
header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0af;
    color: #fff;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu_link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
}
.menu_link:last-child {
    margin-right: 0;
}
.menu_link:hover {
    background: #5cf;
}
main {
    height: 88vh;
}
.bg_img {
    height: 100vh;
    background: url("../img/bg.jpg") center no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.info {
    background: rgba(255,255,255, 0.4);
    height: 50vh;
    width: 65vh;
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: 15px;
}

