body {
    margin: 0;
}
.enter_window {
    position: absolute;
    top: 10%;
    left: 28%;
    z-index: 99;
    /*background: #fff;*/
    width: 650px;
    height: 150px;
    padding: 10px;
    /*border-radius: 10px;*/
    /*border: 3px double #0af;*/
    /*color: #0af;*/
    text-align: center;
}

.enter_window h4 {
    text-align: center;
    margin: auto 0 15px 0;
}
.enter_window a {
    margin-top: 10px;
    color: #00aaff;
    text-decoration: none;
}
.enter_window form {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
}
.enter_window label {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.enter_window label:first-child {
    margin-top: 0;
}
.enter_window input {
    border: 1px solid #0af;
}
.submit {
    margin-top: 10px;
}
.mark {
    color: #0af;
}
header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0af;
    color: #fff;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu_link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
}
.menu_link:last-child {
    margin-right: 0;
}
.menu_link:hover {
    background: #5cf;
}
main {
    height: 88vh;
}
.bg_img {
    height: 100vh;
    background: url("../img/bg.jpg") center no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.info {
    background: rgba(255,255,255, 0.4);
    height: 50vh;
    width: 65vh;
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: 15px;
}

