<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SolarGroup!</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="enter_window">
    <h4>Вход</h4>
    <form action="">
        <label>E-mail:<input type="text"></label>
        <label>Password:<input type="password"></label>
        <a href="#">Зарегистрироваться</a>
        <a href="#" class="submit">Отправить</a>
    </form>

</div>
<header>
    <div class="logo"><img src="#" alt="SolarGroup"></div>
    <nav class="menu">
        <a href="#" class="menu_link">Home</a>
        <a href="#" class="menu_link">Services</a>
        <a href="#" class="menu_link">About Us</a>
        <a href="#" class="menu_link">Portfolio</a>
        <a href="#" class="menu_link">Contacts</a>
        <a href="#" class="menu_link">Sing in\Log in</a>
    </nav>
</header>
<main>
    <div class="bg_img"></div>
    <div class="info">
        <h3>В чем <span class="mark">уникальность</span> <br>технологии Дуюнова</h3>
        <p>Мотор-колесо по технологии Дуюнова — это первый в мире асинхронный электромотор с обмоткой типа «Славянка», обладающий уникальным соотношением мощности с энергопотреблением.</p>
        <p>Новая технология основана на разработанной нами инновационной технологии совмещённых обмоток двигателей (параллельно соединённые звезда и треугольник).</p>
        <p>Благодаря совмещённым обмоткам параметры мотор-колеса значительно улучшаются и повышается энергоэффективность.</p>
    </div>
</main>
</body>
</html>