<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SolarGroup!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="enter_window" style="display: none;">
    <div class="form">

        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
        </ul>

        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up for Free</h1>

                <form action="/" method="post">

                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                First Name<span class="req">*</span>
                            </label>
                            <input type="text" required autocomplete="off" />
                        </div>

                        <div class="field-wrap">
                            <label>
                                Last Name<span class="req">*</span>
                            </label>
                            <input type="text"required autocomplete="off"/>
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email"required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Set A Password<span class="req">*</span>
                        </label>
                        <input type="password"required autocomplete="off"/>
                    </div>

                    <button type="submit" class="button button-block"/>Get Started</button>

                </form>

            </div>

            <div id="login">
                <h1>Welcome Back!</h1>

                <form action="/" method="post">

                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email"required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Password<span class="req">*</span>
                        </label>
                        <input type="password"required autocomplete="off"/>
                    </div>

                    <p class="forgot"><a href="#">Forgot Password?</a></p>

                    <button class="button button-block"/>Log In</button>

                </form>

            </div>

        </div><!-- tab-content -->

    </div> <!-- /form -->
    <!--<form action="">-->
        <!--<label>E-mail:<input type="text"></label>-->
        <!--<label>Password:<input type="password"></label>-->
        <!--<a href="#">Зарегистрироваться</a>-->
        <!--<div class="g-recaptcha" data-sitekey="6LdKh3sUAAAAAG7GBf9faU4jXpowBz0DGOgP7FYK"></div>-->
        <!--<a href="#" class="submit">Отправить</a>-->
    <!--</form>-->

</div>
<header>
    <div class="logo"><img src="../static/img/logo-remake.svg" alt="SolarGroup"></div>
    <nav class="menu">
        <a href="#" class="menu_link">Главная</a>
        <a href="#" class="menu_link">Новости</a>
        <a href="#" class="menu_link">About Us</a>
        <a href="#" class="menu_link">Portfolio</a>
        <a href="#" class="menu_link">Contacts</a>
        <a href="#" class="menu_link" onclick="regForm()">Sing in\Log in</a>
    </nav>
</header>
<main>
    <div class="bg_img"></div>

    <div class="content">
        <div class="info">
            <h3>В чем <span class="mark">уникальность</span> <br>технологии Дуюнова</h3>
            <p>Мотор-колесо по технологии Дуюнова — это первый в мире асинхронный электромотор с обмоткой типа «Славянка», обладающий уникальным соотношением мощности с энергопотреблением.</p>
            <p>Новая технология основана на разработанной нами инновационной технологии совмещённых обмоток двигателей (параллельно соединённые звезда и треугольник).</p>
            <p>Благодаря совмещённым обмоткам параметры мотор-колеса значительно улучшаются и повышается энергоэффективность.</p>
        </div>

        <div class="news">
            <h2><span class="mark">Новости</span></h2>
            <div class="wrap">
                <div class="news_item">
                    <div class="item_img"></div>
                    <div class="item_text">
                        <h4>Lorem ipsum dolor.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid animi cum doloremque inventore minus optio provident quas reiciendis? Deserunt dicta dolore dolorem necessitatibus officia perferendis perspiciatis quidem recusandae veritatis?</p>
                        <hr>
                        <p class="author">Author Author, <span class="date">20.11.2018</span></p>
                    </div>
                </div>
                <div class="news_item">
                    <div class="item_img"></div>
                    <div class="item_text">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, possimus.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi dolores eligendi eos error exercitationem facilis natus neque nobis, numquam omnis optio perspiciatis placeat quas ratione sint temporibus ut vel veritatis vero voluptas voluptates voluptatibus!</p>
                        <hr>
                        <p class="author">Author Author, <span class="date">20.11.2018</span></p>
                    </div>
                </div>
                <div class="news_item">
                    <div class="item_img"></div>
                    <div class="item_text">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut consequatur deserunt, eveniet molestiae optio placeat provident. Debitis eum eveniet labore mollitia nihil numquam praesentium voluptatibus voluptatum? Earum ex explicabo impedit necessitatibus nostrum numquam officia pariatur quas, sunt voluptatem voluptatum!</p>
                        <hr>
                        <p class="author">Author Author, <span class="date">20.11.2018</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery-3.3.1.min.js') }}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/login-buble.js') }}"></script>
</body>
</html>