@import "variables/colors.scss";

#enter_window {
  position: absolute;
  top: 10%;
  left: 28%;
  z-index: 99;
  width: 650px;
  height: 150px;
  padding: 10px;
  text-align: center;

  & *, & *:before, & *:after {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: $main_style_color;
    transition: .5s ease;
    &:hover {
      color: $main_style_active_color;
    }
  }

  .form {
    background: rgba(240, 240, 240, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }

  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    & li a {
      display: block;
      text-decoration: none;
      padding: 15px;
      background: rgba(159, 173, 179, 0.25);
      color: #9faab3;
      font-size: 20px;
      float: left;
      width: 50%;
      text-align: center;
      cursor: pointer;
      transition: .5s ease;
      &:hover {
        background: $main_style_active_color;
        color: #ffffff;
      }
    }
    & .active a {
      background: $main_style_color;
      color: #ffffff;
    }
  }

  .tab-content > div:last-child {
    display: none;
  }

  h1 {
    text-align: center;
    color: $main_style_color;
    font-weight: 300;
    margin: 0 0 40px;
  }

  label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(30, 30, 30, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;

    & .req {
      margin: 2px;
      color: $main_style_color;
    }

    & .active {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      left: 2px;
      font-size: 14px;

      & .req {
        opacity: 0;
      }
    }

    & .highlight {
      color: #333333;
    }
  }

  input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    border: 1px solid #a0b3b0;
    color: #fff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
    &:focus {
      outline: 0;
      border-color: $main_style_color;
    }
  }

  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }

  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }

  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
    &:last-child {
      margin: 0;
    }
  }

  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main_style_color;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    &:hover, &:focus {
      background: $main_style_active_color;
    }
  }

  .button-block {
    display: block;
    width: 100%;
  }

  .forgot {
    margin-top: -20px;
    text-align: right;
  }
}